a#navLogo{
    font-size: 30px;
    color: white;
    display:inline-block;
    padding-left:25%;
}

.navLinks{
    color: lightgray;
}

.navLinks:hover{
    color: white;
    background-color: transparent;
}

nav{
    background-color: black;
    opacity: 1;
}


nav ul li Link {
    text-decoration: none;
}

.border{
    position:relative;
}

.border:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:0px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid white;
}

.brandLogo{
    margin-top: 14px;
    margin-left: 5px;
}

